*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	background-color: #eee;
}

.navbar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	text-align: center;
	height: 35px;
	position: fixed;
	top: 0;
	left: 50%;
	width: 1000px;
	transform: translateX(-50%);
	background-color: #BDBDBD;
	opacity: 0.9;
	z-index: 10;
	
	
} 

.navbar .logo {
	font-size: 25px;
	margin-left: 10px;
	color: #00BFA5;
}

.navbar .navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	
	height: 100%;
	
}

.navbar .navigation .active{
	font-weight: 700;
	color: #616161;
}

.navbar .navigation .active:hover {
	border-bottom: 0px solid #616161;
}

.navbar .navigation a{
	display: block;
	margin: 0 10px;
	font-size: 16px;
	line-height: 35px;
	text-decoration: none;
	font-weight: 400;
	color: #00BFA5;
	box-sizing: border-box;
	transition: .2s;
}

.navbar .navigation a:hover {
	border-bottom: 4px solid #00BFA5;
}

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	padding-top: 180px;
}

.header .wraper-right {
	width: 50%;
	
}

.header .wraper-right h1 {
	font-size: 36px;
	font-weight: 900;
	padding: 15px;
	text-align: center;

}

.header .wraper-right p {
	padding: 20px;
	font-size: 18px;

}

.btn-container {
	padding-top: 60px;
	padding-bottom: 30px;
}

.contact-btn {
	margin: 0 auto;
	display: block;
	width: 200px;
	height: 60px;
	border: 2px solid  #00BFA5;
	border-radius: 10px;
	align-self: flex-end;
	text-align: center;
	line-height: 60px;
	text-decoration: none;
	font-weight: 700;
	color: #00BFA5;
	transition: 1s;
}

.contact-btn:hover {
	background-color: #00BFA5;
	color: #000;
}

.container-features {
	height: 300px;
	background-color: #00BFA5;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	color: #F5F5F5;
}

.container-features .feature {
	padding: 40px 10px;
	width: 33%;
	text-align: center;
} 

.container-features h2 {
	padding-bottom: 10px;
}

.contacts-container {
	padding-top: 50px;
}