strong {
	font-weight: 700;
}
img {
	display:block;
	margin: 0 auto;
}
.article-page .service { 
	font-size: 18px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.article-page .service .create-time {
	color: #757575;
}
.article-page .title {
	position: relative;
	text-align: center;
	
}
.article-page hr {
	width: 70%;
}
.article-page p {
	margin: 25px;
}
.article-page a:hover {
	text-decoration: underline;
}




