.tech-list > li{
    position: relative;
    padding-left: 25px;
}
.tech-list > li:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-image: url("https://d00dde.github.io/d00dde/img/react.png");
    background-size: cover;
}

