.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.controls .download-btn {
  background-color: #bbdefb;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color .3s;
}
.controls .download-btn a {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: black;
}
.controls .download-btn:hover { 
  background-color: #e3f2fd;
}
.controls .switch {
  width: 150px;
  padding: 25px 0;
  text-align: right;
}
.controls input[type="checkbox"]:checked + .lever {
  background-color: #039be5!important;
}
.controls .lever:after {
  background-color: #039be5!important;
}