.features {
    display: flex;
    justify-content: center;
}

.feature-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.feature-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #29b6f6;
    color: #29b6f6;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
    text-align: center;
}

.feature-icon i {
    line-height: 70px;
    transform: rotate(-45deg) translateX(3px);
    font-size: 26px;
}

.feature-icon:hover {
    background-color: #29b6f6;
    color: white;
}

.feature-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.feature-desc {
    font-size: 18px;
    color: black;
}

@media (max-width: 600px) {
    .features {
        flex-direction: column;
        align-items: center;
    }
    .feature-desc {
        display: none;
    }
}